# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.local
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Database
chatbot.db
db/

# Uploaded Documents
docs/
